
<div class="component_form">
    <h4 class="getTouch">Get in touch</h4>
    <div class="questions">If you have questions about purchasing ISV Online,<br> you’re in the right place!</div>
    <div class="form_cont">
        <form class="form">
            <fieldset>
                <label for="input1">First Name</label>
                <br>
                <input type="text" id="input1" name="name" required />

            </fieldset>

            <fieldset>
                <label for="input2">Last Name</label>
                <br>
                <input type="text" id="input2" name="lastName" required />
            </fieldset>

            <fieldset>
                <label for="input3">Company</label>
                <br>
                <input type="text" id="input3" name="Company" required />
            </fieldset>

            <fieldset>
                <label for="input4">Email</label>
                <br>
                <input type="email" id="input4" name="email" required />
            </fieldset>

            <fieldset>
                <label for="input4">Telephone</label>
                <br>
                <input type="text" id="input4" name="Telephone" required />
            </fieldset>

            <fieldset>
                <label class="urMsg">YOUR MESSAGE</label>
                <br>
                <textarea name="MESSAGE" cols="x" rows="y">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua…</textarea>
            </fieldset>

            <fieldset>
                <label for="humanTest">Prove you're human. What's 8+10 ?</label>
                <br>
                <input type="text" id="humanTest" name="humanTest" class="roboBottom" required />
            </fieldset>
           <div class="btnCent"><input type="submit" class="btn" value="SEND"/></div> 
        </form>
    </div>
    <p>We hate spam as much as you do! View our <a href="url">Privacy Policy.</a></p>
</div>