<header class='header'>
    <div class='wrapper'>
        <div class="header-content">
            <a href='#' class='header-logo'>
                <p>Dead End</p>
                <p>development</p>

            </a>
            <div class='header-nav'>
                <ul>
                    <li>
                        <a href="#">Skill testing</a>
                    </li>
                    <li class="nav"></li>
                    <li>
                        <a href="#">Trainig</a>
                    </li>
                    <li class="nav"></li>
                    <li>
                        <a href="#">Create your own</a>
                    </li>
                    <li class="nav"></li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li class="nav"></li>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <li class="nav"></li>
                </ul>
            </div>
            <div class="contact-us">
                <button class="btn-contact">Contact Us</button>

            </div>
        </div>
    </div>
</header>