<section class='hero'>
    <div class='wrapper'>
        <div class="hero-content">
            <ul class="links">
                <li>
                    <a href="#">Twitter</a>
                </li>
                <li>
                    <a href="#">Linkedin</a>
                </li>
            </ul>
            <div class="title">
                DeadEnd Development
            </div>
            <div class="text">
                <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
            </div>
            <div class="box-email">
                <input required="required" type="email" name="email" class="input-email" placeholder="Enter your email">
                <button class="btn-email" type='submit'>Request a demo</button>
            </div>

        </div>
    </div>
</section>