<div class="map">
    <div class='map__wrapper'>
        <div id="map" class="map__google">
            {# <img src='\img\mapa.png'> #}
        </div>
    </div>
    <div class='adress'>
        <div class="adress_cont">
            <p class="adress_name">DeadEnd Software</p>
            <p class="adress_gray">ul. Wiejska 45A, 15-351</p>
            <p class="adress_gray">Białystok woj. podlaskie</p>
        </div>
        <div class="adress_cont">
            <p class="adress_contact">Email:</p>
            <p class="adress_name">www@com
            </p>
            <p class="adress_contact">Telephone:</p>
            <p class="adress_name">123 456 789</p>
        </div>
    </div>
</div>