<section class='slider'>
    <div class='wrapper'>

        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="photo-container photo1"></div>
                    <div class="text-container">
                        <p class="specialist-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        <div class="specialist-subscription">
                            <span>Eliza Kulesza
                            </span>
                            DeadEnd Development Specialist
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="photo-container photo2"></div>
                    <div class="text-container">
                        <p class="specialist-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        <div class="specialist-subscription">
                            <span>Genghis Khan
                            </span>
                            DeadEnd Development Specialist
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>