<div class="stats">
    <section class="workWith">
        <h4>who we work with</h4>
        <div class="logo">

            <img src="img/sony.svg" alt="sony">
            <img src="img/flaticon.svg" alt="flaticon">
            <img src="img/lenovo.svg" alt="lenovo">
            <img src="img/xbox.svg" alt="xbox">
            <img src="img/sony.svg" alt="sony">
            <img src="img/flaticon.svg" alt="flaticon">
            <img src="img/lenovo.svg" alt="lenovo">
            <img src="img/xbox.svg" alt="xbox"></div>

    </section>
    <section class="map1">
        <div class="txtOnMap">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odit ea praesentium necessitatibus maiores accusantium vel quidem natus exercitationem doloremque fugit ipsa reprehenderit error quae, temporibus eos illum. Expedita error ad quos blanditiis ut.</h3>
            <div class="numb">

                <p>78</p>
                <span class="purp">Organisation</span>

                <p>2,765</p>
                <span class="purp">Testers</span>

                <p>12</p>
                <span class="purp">Countries</span>

            </div>
        </div>

    </section>
</div>