.video {
  // background-color: black;
  //   background-color: #7a217f;
  background-color: #6e4770;
  opacity: 0.8;
  max-width: 1376px;
  margin: 0 auto;
  width: 100%;

  position: relative;
  margin-bottom: 30px;

  .vid {
    position: relative;
    width: 50%;
    height: auto;
    margin: 0 auto;

    video {
      width: 100%;
      height: 100%;
    }
  }
}

.button-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__button {
    position: relative;
    height: 80px;
    width: 300px;
    border: none;
    background: none;
    font-size: 20px;
    color: #ffffff;
    padding-top: 55px;
    cursor: pointer;
    font-family: "Poppins";
    font-weight: 600;

    &:before {
      position: absolute;
      content: "";
      display: block;
      margin-left: -15px;
      top: 5px;
      left: 50%;
      width: 40px;
      height: 40px;
      background: url("../img/play-button.svg") no-repeat center center;
    }
  }
}
