.slider {
  position: relative;
  background-color: #f8f8f8;
  // top: 0; left: 0;
  height: 576px;
  max-width: 1376px;
  margin: 0 auto;
  .wrapper {
    width: 100%;
    height: 100%;
  }
  //   @media (max-width: 768px) {
  //     width: 100%;
  //     height: 200%;
  //   }
}

// .swiper-container {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   z-index: 120;
//   background-color: #fff;
// }
.photo-container {
  position: absolute;
  width: 400px;
  height: 320px;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  background-repeat: no-repeat;

  @media (max-width: 1100px) {
    width: 320px;
    height: 256px;
  }
  @media (max-width: 875px) {
    width: 270px;
    height: 214px;
  }
  @media (max-width: 820px) {
    // width: 245px;
    // height: 200px;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }
  @media (max-width: 650px) {
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }
  @media (max-width: 540px) {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  //   top: 50%;
  //   left: 10%;
  //   transform: translateY(-50%);
  //   background-repeat: no-repeat;
}
.swiper-container {
  position: absolute;
  width: 100%;
  height: 100%;
  //   z-index: 10;
  //   background-color: #fff;
}

.photo1 {
  background-image: url("../img/Eliza.jpg");
  background-position: center;
  //   background-size: 400px 320px;
  background-size: 100% 100%;

  //   @media (max-width: 1100px) {
  //     background-size: 320px 256px;
  //   }
}
.photo2 {
  background-image: url("../img/GenghisKhan.jpg");
  background-position: center;
  background-size: 100% 100%;
}
.text-container {
  position: absolute;
  //   width: 550px;
  width: 37%;
  height: 220px;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  @media (max-width: 820px) {
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
  }
  @media (max-width: 650px) {
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
  }

  @media (max-width: 550px) {
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    width: 55%;
  }
  //   @media (max-width: 768px) {
  //     top: 100%;
  //     right: 30%;
  //   }

  //   background-color: white;
  .specialist-text {
    font-size: 24px;
    line-height: 32px;
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 24px;
    text-align: left;
    @media (max-width: 1100px) {
      font-size: 20px;
    }
    @media (max-width: 950px) {
      font-size: 18px;
    }
    @media (max-width: 850px) {
      font-size: 14px;
    }
    @media (max-width: 790px) {
      font-size: 12px;
    }
    @media (max-width: 640px) {
      font-size: 10px;
    }
    @media (max-width: 580px) {
      font-size: 10px;
    }
    @media (max-width: 450px) {
      font-size: 10px;
    }
    &:before {
      content: "”";
      position: absolute;
      display: block;
      left: -45px;
      font-size: 61px;
      font-family: "Mada", sans-serif;
      font-weight: 900;
    }
  }
  .specialist-subscription {
    font-size: 16px;
    line-height: calc(font-size * 1.3);
    margin-top: 6%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    letter-spacing: -25;
    @media (max-width: 850px) {
      font-size: 12px;
    }
    @media (max-width: 650px) {
      font-size: 10px;
    }
    span {
      font-weight: bold;
    }
  }
}
